/* Start Variables */
:root {
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --grey-color: #888;
}
/* End Variables */
/* Start Box */
.d-flex {
    display: flex;
}
.align-center {
    align-items: center;
}
.center-content {
    align-content: center;
}
.justify-between {
    justify-content: space-between;
}
.justify-center {
    justify-content: center;
}
.flex-1 {
    flex: 1;
}
.flex-wrap {
    flex-wrap: wrap;
}
.ov-hidden {
    overflow: hidden;
}
.d-grid {
    display: grid;
}
.gap-10 {
    gap: 10px;
}
.gap-20 {
    gap: 20px;
}
.d-none {
    display: none;
}
.d-block {
    display: block;
}
@media (max-width: 767px) {
    .block-mobile {
        display: block;
    }
    .hide-mobile {
        display: none;
    }
}
/* End Box */
/* Start Padding + Margin */
.p-20 {
    padding: 20px;
}
.p-15 {
    padding: 15px;
}
.p-10 {
    padding: 10px;
}
.pb-5 {
    padding-bottom: 5px;
}
.pb-10 {
    padding-bottom: 10px;
}
.pb-15 {
    padding-bottom: 15px;
}
.pb-20 {
    padding-bottom: 20px;
}
.m-0 {
    margin: 0;
}
.m-10 {
    margin: 10px;
}
.m-20 {
    margin: 20px;
}
.mt-0 {
    margin-top: 0;
}
.mt-5 {
    margin-top: 5px;
}
.mt-10 {
    margin-top: 10px;
}
.mt-15 {
    margin-top: 15px;
}
.mt-20 {
    margin-top: 20px;
}
.mr-5 {
    margin-right: 5px;
}
.mr-10 {
    margin-right: 10px;
}
.mr-15 {
    margin-right: 15px;
}
.mr-20 {
    margin-right: 20px;
}
.mb-0 {
    margin-bottom: 0;
}
.mb-5 {
    margin-bottom: 5px;
}
.mb-10 {
    margin-bottom: 10px;
}
.mb-15 {
    margin-bottom: 15px;
}
.mb-20 {
    margin-bottom: 20px;
}
.mb-25 {
    margin-bottom: 25px;
}
.mb-30 {
    margin-bottom: 30px;
}
/* End Padding + Margin */
/* Start Colors */
.bg-white {
    background-color: white;
}
.bg-eee {
    background-color: #eee;
}
.bg-main {
    background-color: var(--blue-color);
}
.bg-green {
    background-color: var(--green-color);
}
.bg-orange {
    background-color: var(--orange-color);
}
.bg-red {
    background-color: var(--red-color);
}
.c-black {
    color: black;
}
.c-white {
    color: white;
}
.c-grey {
    color: var(--grey-color);
}
.c-blue {
    color: var(--blue-color);
}
.c-orange {
    color: var(--orange-color);
}
.c-green {
    color: var(--green-color);
}
.c-red {
    color: var(--red-color);
}
/* End Colors */
/* Start Position */
.p-relative {
    position: relative;
}
/* End Position */
/* Start Font */
.txt-c {
    text-align: center;
}
@media (max-width: 767px) {
    .txt-c-mobile {
        text-align: center;
    }
}
.fs-13 {
    font-size: 13px;
}
.fs-14 {
    font-size: 14px;
}
.fs-15 {
    font-size: 15px;
}
.fs-18 {
    font-size: 18px;
}
.fs-19 {
    font-size: 19px;
}
.f-bold {
    font-weight: bold;
}
/* End Font */
/* Start Border */
.rad-6 {
    border-radius: 6px;
}
.rad-10 {
    border-radius: 10px;
}
.rad-circle {
    border-radius: 50%;
}
.border-ccc {
    border: 1px solid #ccc;
}
.border-eee {
    border: 1px solid #eee;
}
.border-b-eee {
    border-bottom: 1px solid #eee;
}
.b-non {
    border: none;
}
/* End Border */
/* Start Width And Height */
.w-full {
    width: 100%;
}
.w-fit {
    width: fit-content;
}
.w-100 {
    width: 100px;
}
/* End Width And Height */
/* Start Components */
.resize-n {
    resize: none;
}
.between-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-shape {
    padding: 5px 10px;
    cursor: pointer;
    margin: 0 0 0 auto;  
}
.btn-padding {
    padding: 5px 10px;
}
.toggle-checkbox {
    -webkit-appearance: none;
    appearance: none;
    display: none;
}
.toggle-switch {
    background-color: #ccc;
    width: 78px;
    height: 32px;
    border-radius: 16px;
    position: relative;
    transition: 0.3s;
    cursor: pointer;
}
.toggle-switch::before {
    font-family: "Font Awesome 5 Free";
    content: "\f00d";
    font-weight: 900;
    background: white;
    color: #aaa;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 4px;
    left: 4px;
    transition: 0.3s;
}
.toggle-checkbox:checked + .toggle-switch {
    background-color: var(--blue-color);
}
.toggle-checkbox:checked + .toggle-switch::before {
    content: "\f00c";
    color: var(--blue-color);
    left: 50px;
}
/* End Components */